[tool.poetry]
name = "simple-html"
version = "0.6.0"
readme = "README.md"
description = "Template-less html rendering in Python"
authors = ["Keith Philpott <fakekeith@example.org>"]
license = "MIT"
homepage = "https://github.com/keithasaurus/simple_html"
keywords = ["html"]


[tool.poetry.dependencies]
python = "^3.7"
typed-ast = { version = "1.4.3", python = "~3.7" }

[tool.poetry.dev-dependencies]
flake8 = "4.0.1"
mypy = "0.931"
pytest = "6.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
