<html>
<head><title>{title}</title></head>
<body><h1 class="great header" other_attr="5" id="header1"></h1>
<div><p>{content}</p>
    <ul>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
        <li class="item-stuff">okokok</li>
    </ul>
</div>
</body>
</html>