<!doctype html>
<html>
<head><title>{title}</title></head>
<body><h1 class="great header" other_attr="5" id="header1"></h1>
<div><p>{content}</p>
    <ul>
        {% for item in oks %}
        <li class="item-stuff">{{ item }}}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>